{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "env": {
    "development": {
      "sourceMaps": "inline",
      "presets": ["react-hmre"]
    }
  },
  "plugins": ["transform-runtime", [ "babel-plugin-webpack-alias", { "config": "./config/webpack.config.dev.js" } ]]
}
